global
    log stdout format raw local0
    maxconn 1024

defaults
    log global
    mode http
    option httplog
    option dontlognull
    option redispatch 1
    retries 2
    timeout connect 1s
    timeout check 1s
    timeout client 30s
    timeout server 15s

resolvers docker
    nameserver dns 127.0.0.11:53
    resolve_retries 3
    timeout resolve 1s
    timeout retry 1s
    hold valid 10s

frontend cdn
    bind :8080
    default_backend edges

backend edges
    balance roundrobin
    option httpchk GET /healthz
    http-check expect status 200
    default-server inter 1s fall 2 rise 2 resolvers docker init-addr libc,none
    server edge1 edge1:8000 check
    server edge2 edge2:8000 check
    server edge3 edge3:8000 check
